{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор!</h1>
<p>
  Меня зовут Эльвира. Мне 31 год. Я из Санкт-Петербурга. 
  По образованию я юрист, сейчас нахожусь в декретном отпуске.
  Люблю посещать новые места, встречаться с друзьями, путешествовать.
  Также люблю читать книги, смотреть фильмы и сериалы, особенно, детективные.
</p>  
<p>
  Давно думала о том, что удаленная работа дает большие возможности, особенно, в семье с детьми.
  Поэтому решила, что стоит попробовать окунуться в мир программирования.
  Выбрала для себя язык программирования Python.
  Пока могу сказать, что очень сложно, далеко не все понятно, и не обо всем сказано в теории.
  Надеюсь, все получится!
</p>
{% endblock %}